.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/build
*.iml
*.pro
/gradle
PaymentsSDKDemo.iml
settings.gradle
local.properties
gradlew
gradlew.bat
gradle.properties
/PaymentsSDKDemo.iml/
/settings.gradle
/local.properties
/gradlew
/gradle.properties
